#unitSelection {
  width: calc(100vw - 16px);
  margin: auto;
  overflow-x: scroll;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      padding: 5px 10px;

      input {
        display: none;
      }
      label {
        font-family: 'futura-pt';
        color: var(--color-primary);
        font-weight: 700;
      }
    }
  }
}
