#unitSelection {
  width: calc(100vw - 16px);
  margin: auto;
  overflow-x: scroll;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style: none;
    padding: 0 5px 0 5px;

    li {
      padding: 0 10px 0 5px;
      input {
        display: none;
      }
      label {
        font-family: 'futura-pt';
        color: var(--color-primary);
        font-weight: 700;
        transition: all 0.3s ease-in;
      }
      input:checked + label {
        background: var(--color-primary);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}

#clearButton {
  grid-column: 4/6;
}
