<section id="ConvertorSection">
  <nav id="unitSelection">
    <ul>
      <li>
        <input
          type="radio"
          id="area"
          name="conversionType"
          [formControl]="conversionType"
          value="Area"
        />
        <label for="area">Area</label>
      </li>
      <li>
        <input
          type="radio"
          id="volume"
          name="conversionType"
          [formControl]="conversionType"
          value="Volume"
        />
        <label for="volume">Volume</label>
      </li>
      <li>
        <input
          type="radio"
          id="length"
          name="conversionType"
          [formControl]="conversionType"
          value="Length"
        />
        <label for="length">Length</label>
      </li>
      <li>
        <input
          type="radio"
          id="temperature"
          name="conversionType"
          [formControl]="conversionType"
          value="Temperature"
        />
        <label for="temperature">Temperature</label>
      </li>
      <li>
        <input
          type="radio"
          id="mass"
          name="conversionType"
          [formControl]="conversionType"
          value="Mass"
        />
        <label for="mass">Mass</label>
      </li>
      <li>
        <input
          type="radio"
          id="data"
          name="conversionType"
          [formControl]="conversionType"
          value="Data"
        />
        <label for="data">Data</label>
      </li>
      <li>
        <input
          type="radio"
          id="speed"
          name="conversionType"
          [formControl]="conversionType"
          value="Speed"
        />
        <label for="speed">Speed</label>
      </li>
      <li>
        <input
          type="radio"
          id="time"
          name="conversionType"
          [formControl]="conversionType"
          value="Time"
        />
        <label for="time">Time</label>
      </li>
    </ul>
  </nav>
  <div class="converterInputs" [formGroup]="convertInputsForm">
    <div id="firstUnitScreen">
      <select name="firstUnitSelect" id="firstUnitSelect" formControlName="firstSelect" (change)="performConversion()">
        <option
          *ngFor="let unit of units[this.conversionType.value.toLowerCase()]"
          [ngValue]= "unit.name"
          >{{ unit.name }} ({{unit.symbol}})</option
        >
      </select>
      <input type="tel" formControlName="input1" (focus)="firstInputActive = true;" (change)="performConversion()"/>
      <button type="button" onclick="Delete()">
        <img src="assets/delete.svg" alt="" />
      </button>
    </div>
    <div id="SecondUnitScreen">
      <select name="secondUnitSelect" id="secondUnitSelect" formControlName="secondSelect" (change)="performConversion()">
        <option
          *ngFor="let unit of units[this.conversionType.value.toLowerCase()]"
          [ngValue]= "unit.name"
          >{{ unit.name }} ({{unit.symbol}})</option
        >
      </select>
      <input type="tel" formControlName="input2" (focus)="firstInputActive = false;" (change)="performConversion()" />
      <button type="button" onclick="Delete()">
        <img src="assets/delete.svg" alt="" />
      </button>
    </div>
  </div>

  <div id="converterButtonPad">
    <button id="clearButton" onclick="reset()">C</button>
    <button id="equalButton" onclick="calculate()">=</button>
    <div id="numberPad">
      <button onclick="handleNumpadPress(1)">1</button>
      <button onclick="handleNumpadPress(2)">2</button>
      <button onclick="handleNumpadPress(3)">3</button>
      <button onclick="handleNumpadPress(4)">4</button>
      <button onclick="handleNumpadPress(5)">5</button>
      <button onclick="handleNumpadPress(6)">6</button>
      <button onclick="handleNumpadPress(7)">7</button>
      <button onclick="handleNumpadPress(8)">8</button>
      <button onclick="handleNumpadPress(9)">9</button>
      <button onclick="makeValueNegative()">+/-</button>
      <button onclick="handleNumpadPress(0)">0</button>
      <button onclick="handleNumpadPress('.')">.</button>
    </div>
    <div id="backgroundHighlight"></div>
  </div>
</section>
