<section id="CalculatorSection">
    <div class="screen">
      <div class="operand">
        <input id="screenDisplayInput"  [value]="calculationInput"/>
        <button type="button" (click)="Delete()">
          <img src="assets/delete.svg" alt="">
        </button>
      </div>
      <output id="output">{{this.output !==0 ? this.output: null}} </output>
    </div>
    <div id="buttonPad">
      <button id="clearButton" (click)="clear()">C</button>
      <div id="operandRow">
        <button (click)="brackets()">()</button>
        <button (click)="handleOperatorPress('%')">%</button>
        <button (click)="handleOperatorPress('/')">&#247;</button>
      </div>
      <div id="operandColumn">
        <button (click)="handleOperatorPress('*')">X</button>
        <button (click)="handleOperatorPress('+')">+</button>
        <button (click)="handleOperatorPress('-')">-</button>
      </div>
      <button id="equalButton" (click)="calculate()">=</button>
      <div id="numberPad">
        <button (click)="handleNumpadPress(1)">1</button>
        <button (click)="handleNumpadPress(2)">2</button>
        <button (click)="handleNumpadPress(3)">3</button>
        <button (click)="handleNumpadPress(4)">4</button>
        <button (click)="handleNumpadPress(5)">5</button>
        <button (click)="handleNumpadPress(6)">6</button>
        <button (click)="handleNumpadPress(7)">7</button>
        <button (click)="handleNumpadPress(8)">8</button>
        <button (click)="handleNumpadPress(9)">9</button>
        <button (click)="makeValueNegative()">+/-</button>
        <button (click)="handleNumpadPress(0)">0</button>
        <button (click)="handleNumpadPress('.')">.</button>
      </div>
      <div id="backgroundHighlight"></div>
    </div>
  </section>