<main>
  <header>
    <img src="assets/logo.png" />
    <button id="historyButton">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="39.707"
        height="38"
        viewBox="0 0 39.707 38"
      >
        <defs>
          <filter
            id="Path_604"
            x="0"
            y="0"
            width="39.707"
            height="38"
            filterUnits="userSpaceOnUse"
          >
            <feOffset input="SourceAlpha" />
            <feGaussianBlur stdDeviation="3" result="blur" />
            <feFlood flood-opacity="0.161" />
            <feComposite operator="in" in2="blur" />
            <feComposite in="SourceGraphic" />
          </filter>
        </defs>
        <g id="history" transform="translate(9 9)">
          <g transform="matrix(1, 0, 0, 1, -9, -9)" filter="url(#Path_604)">
            <path
              id="Path_604-2"
              data-name="Path 604"
              d="M11.7,5.391V9.676l3.087,2.844a.739.739,0,0,1,0,1.1.9.9,0,0,1-1.2,0l-3.335-3.073A.751.751,0,0,1,10.006,10V5.391a.851.851,0,0,1,1.7,0ZM14.189,0H7.518a7.878,7.878,0,0,0-4.93,1.7V.781A.817.817,0,0,0,1.74,0,.817.817,0,0,0,.892.781V3.854a.819.819,0,0,0,.848.781H5.076a.817.817,0,0,0,.848-.781.817.817,0,0,0-.848-.781h-1.6a6.113,6.113,0,0,1,4.047-1.51h6.671a5.614,5.614,0,0,1,5.823,5.365v6.146a5.614,5.614,0,0,1-5.823,5.365H7.518A5.614,5.614,0,0,1,1.7,13.073V10a.817.817,0,0,0-.848-.781A.817.817,0,0,0,0,10v3.073C0,16.893,3.373,20,7.518,20h6.671c4.146,0,7.518-3.107,7.518-6.927V6.927C21.707,3.107,18.335,0,14.189,0Z"
              transform="translate(9 9)"
              fill="#8fd3f4"
            />
          </g>
        </g>
      </svg>
      <span id="historySpan">History</span>
    </button>
  </header>
  <nav id="modeSelection">
    <button
      id="calculatorButton"
      class="selectedAction"
      routerLink="calculator"
    >
      Calculator
    </button>
    <button id="converterButton" routerLink="converter">
      Converter
    </button>
    <div id="selectedTab"></div>
  </nav>
  <router-outlet></router-outlet>
</main>
