*:focus {
    outline: 0 !important;
  }
  
  /* @font-face {
    font-family: Teko;
    src: url(../assets/Teko.ttf);
  } */
  
  body {
    margin: 0;
  }
  
  header {
    border-radius: 10px;
    border: 3px solid #ffffff;
    background: #f0faff;
    box-shadow: 0 0 6px #00000016;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    margin: 8px 8px 0 8px;
  }
  #historyButton {
    height: 40px;
    background: #f0faff;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 8px #41748d17, -4px -4px 8px #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    border: 2px solid #ffffff50;
  }
  
  #historySpan {
    color: #8fd3f4;
    font-family: 'futura-pt-condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px #00000017;
  }
  #modeSelection {
    border-radius: 10px;
    height: 60px;
    border: 6px solid #ffffff;
    box-shadow: inset 0 0 10px #00000017, 0 0 10px #00000017;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px;
    color: #ffffff;
    margin: 20px 8px 0 8px;
  }
  #modeSelection > button {
    background: #ffffff00;
    border: none;
    outline: none;
    color: #8fd3f4;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #selectedTab {
    transition: all 0.2s ease-in;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 50%;
    height: 100%;
    background-color: #8fd3f4;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 4px 0 4px #00000017;
  }
  #calculatorButton {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
  }
  #converterButton {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
  }
  .selectedAction {
    color: #ffffff !important;
  }
  
  #tabSectionContainer {
    height: calc(100vh - 180px);
    /* width: calc(100vw - 16px); */
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  #CalculatorSection {
    height: calc(100vh - 180px);
    display: grid;
    grid-template-columns: 100vw;
    /* grid-template-columns: calc(100vw - 16px); */
    grid-template-rows: 1fr 3fr;
    transition: all 0.2s ease-in;
    z-index: 100;
  }
  .screen {
    margin: 20px 8px 0 8px;
    border: 6px solid #ffffff;
    box-shadow: inset 0 0 10px #00000017, 0 0 10px #00000017;
    border-radius: 10px;
    background: linear-gradient(90deg, #cfd9df, #e2ebf0);
    width: calc(100% - 28px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-family: 'Orbitron', sans-serif;
  
    font-family: 'Digital-7';
    font-family: 'Teko';
  }
  .operand {
    border-bottom: 2px solid #effaff;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .operand > input {
    height: 100%;
    background: #00000000;
    border: none;
    width: 80%;
    font-family: 'Digital-7';
    font-family: 'Teko';
  
    font-size: 29px;
    text-align: left;
  }
  .operand > button {
    width: fit-content;
    background: transparent;
    border: none;
    height: 100%;
  }
  
  #output {
    height: 100%;
    width: 80vw;
    margin: 0 0 0 25px;
    font-family: 'Digital-7';
    font-family: 'Teko';
  
    font-size: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }
  
  #buttonPad,
  #converterButtonPad {
    height: calc(100% - 20px);
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr;
    grid-template-columns: repeat(3, 2fr) 1fr 1fr;
    margin: 20px 0 0 0;
  }
  
  #clearButton {
    grid-row: 1/3;
    grid-column: 1/1;
    background: #f48f8f;
    border: none;
    margin: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'futura-pt';
    font-weight: 600;
    font-size: 35px;
    box-shadow: 2px 2px 9px 4px #00000017;
    z-index: 100;
  }
  
  #clearButton:active {
    box-shadow: inset 4px 4px 8px 4px #00000017, inset 0px 0px 20px 1px #f48f8f;
    border: none;
  }
  
  #equalButton {
    grid-row: 6/7;
    grid-column: 4/6;
    background: #8ff4b0;
    border: none;
    margin: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'futura-pt';
    font-weight: 600;
    font-size: 60px;
    line-height: 30px;
    box-shadow: 2px 2px 9px 4px #00000017;
    z-index: 100;
  }
  
  #equalButton:active {
    box-shadow: inset 4px 4px 8px 4px #00000017, inset 0px 0px 20px 1px #8ff4b0;
    border: none;
  }
  
  #numberPad {
    grid-row: 3/7;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #numberPad > button {
    border: none;
    background: #ffffff;
    font-size: 27px;
    font-family: 'futura-pt';
    font-weight: 600;
    color: #000000;
  }
  
  #numberPad > button:active {
    box-shadow: inset 4px 4px 8px 4px #00000017, inset 0px 0px 20px 1px #ffffff;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  #operandRow {
    grid-row: 1/3;
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    background: #effaff;
    border-radius: 10px;
  }
  
  #operandRow > button,
  #operandColumn > button {
    margin: 20px;
    font-family: 'ocr-a-std', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background: transparent;
    border: 2px solid #ffffff50;
    box-shadow: 4px 4px 4px 4px #00000017, -4px -4px 4px 4px #ffffff,
      inset 2px 2px 2px 2px #ffffff50;
    color: #8fd3f4;
    border-radius: 5px;
  }
  
  #operandRow > button:active,
  #operandColumn > button:active {
    box-shadow: inset 4px 4px 4px 4px #00000017, inset 0px 0px 20px 1px #ffffff;
    border: none;
    transform: scale(1.1);
    padding: 4px 0 0 4px;
  }
  
  #operandColumn {
    grid-row: 3/6;
    grid-column: 4/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background: #effaff;
    border-radius: 0 0 10px 10px;
  }
  
  #backgroundHighlight {
    background: #ffffff;
    box-shadow: 0 0 12px 12px #00000017;
    grid-row: 2/7;
    grid-column: 1/5;
    z-index: -1;
  }
  
  #ConvertorSection {
    height: calc(100vh - 180px);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 3fr;
    transition: all 0.2s ease-in;
    width: calc(100vw);
    background-color: #fff;
    margin: 0;
  }
  
  #firstUnitScreen,
  #SecondUnitScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 28px);
    height: 44px;
    margin: 0 8px;
    border: 6px solid #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 6px 6px #00000015, inset 4px 4px 13px 3px #00000015;
    background: linear-gradient(0deg, #cfd9df, #e2ebf0);
  }
  
  #firstUnitScreen > select,
  #SecondUnitScreen > select {
    border: none;
    background: #8fd3f490;
    width: 28vw;
    color: #fff;
    font-family: 'futura-pt-condensed';
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    text-align: right;
    padding: 4px;
    box-shadow: inset 4px 4px 4px 4px #ffffff15;
  }
  
  #firstUnitScreen > input,
  #SecondUnitScreen > input {
    border: none;
    background: none;
    font-family: 'Digital-7', 'Teko';
  }
  
  #firstUnitScreen > button,
  #SecondUnitScreen > button {
    background: none;
    border: none;
  }
  